
input[type='text'] {
     border-radius: 0 !important;
}

input[type='date'] {
     border-radius: 0 !important;
}

button {
     border-radius: 0 !important;
}

textarea {
     border-radius: 0 !important;
     resize: none !important;
}

.bg-list {
     background-color: #d6e4ff;
}

.content-wrapper {
     height: 36em;
}

